body, html {
  height: 100%;
}

.home-content{
  height: 100%;
  background: url(../img/home_small.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media only screen and (min-width : 992px) {
  .home-content{
    background-image: url(../img/home_hd.jpg);
  }
}

.navbar-ucll, .btn, .btn-large{
  background-color: #e00049;
}
.btn:hover, .btn-large:hover{
    background-color: #fa1a63;
}
.dropdown-content li > a, .dropdown-content li > span{
  color: #e00049;
}
